<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-specification.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-specification.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="rich-text__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h2>
            {%- when 'caption' -%}
              <p class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}

              <div class="specs_sheet" {{ block.shopify_attributes }}>
                <div class="row">
                  <div class="flex-item group-name">
                    <div class="aligner_group">
                      Battery
                    </div>
                  </div>
                  <div class="flex-item">
                    <div class="aligner">
                      {% if product.metafields.specs.battery_capacity != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Capacity: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.battery_capacity}} wH </span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.battery_cell_configuration != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Cell Conf.: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.battery_cell_configuration }} </span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.battery_cell_count != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Cell Count: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.battery_cell_count }} </span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.battery_cell_model != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Cell Model: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.battery_cell_model }} </span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="flex-item group_separator"> </div>
              
                <div class="row">
                  <div class="flex-item group-name">
                    <div class="aligner_group">
                    Performance
                    </div>
                  </div>
                  <div class="flex-item">
                    <div class="aligner">
                      {% if product.metafields.specs.range_km != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Range: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.range_km }} km</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.top_speed != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Max Speed: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.top_speed }} km/h</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.engine_power != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Motor Power: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.engine_power }} W</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.system_voltage != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> System Voltage: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.system_voltage }} v</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.range_km != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Weight Limit: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.range_km }} kg</span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="flex-item group_separator"> </div>

                <div class="row">
                  <div class="flex-item group-name">
                    <div class="aligner_group">
                    Dimensions
                    </div>
                  </div>
                  <div class="flex-item">
                    <div class="aligner">
                      {% if product.metafields.specs.weight != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Weight: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.weight }} kg</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.body_width != nil %}
                      <div class="key_value_pair">
                        <span class="specs-sheet-keyname"> Body Width: </span>
                        <span class="specs-sheet-value"> {{ product.metafields.specs.body_width }}"</span>
                      </div>
                      {% endif %}
                      {% if product.metafields.specs.pedal_height != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Pedal Height: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.pedal_height }} mm</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.wheel_diameter != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Wheel Diameter: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.wheel_diameter }}"</span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="flex-item group_separator"> </div>

                <div class="row">
                  <div class="flex-item group-name">
                    <div class="aligner_group">
                    Ride
                    </div>
                  </div>
                  <div class="flex-item">
                    <div class="aligner">
                      {% if product.metafields.specs.wheel_diameter != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Suspension: </span>
                          <span class="specs-sheet-value"> {% if product.metafields.specs.suspension == true %} Yes {% else %} No {%- endif -%}</span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="flex-item group_separator"> </div>

                <div class="row">
                  <div class="flex-item group-name">
                    <div class="aligner_group">
                    Misc
                    </div>
                  </div>
                  <div class="flex-item">
                    <div class="aligner">
                      {% if product.metafields.specs.rgb != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> RGB: </span>
                          <span class="specs-sheet-value"> {% if product.metafields.specs.rgb == true %} Yes{% else %} No{%- endif -%}{{ product.metafields.specs.rgb }} </span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.bt_speakers != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> Bluetooth Speakers: </span>
                          <span class="specs-sheet-value"> {% if product.metafields.specs.bt_speakers == true %} Yes{% else %} No{%- endif -%}</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.phone_charging_via_usb != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> USB Charging: </span>
                          <span class="specs-sheet-value"> {% if product.metafields.specs.phone_charging_via_usb == true %} Yes{% else %} No{%- endif -%}</span>
                        </div>
                      {% endif %}
                      {% if product.metafields.specs.waterproof_rating != nil %}
                        <div class="key_value_pair">
                          <span class="specs-sheet-keyname"> IP Rating: </span>
                          <span class="specs-sheet-value"> {{ product.metafields.specs.waterproof_rating }} </span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Specification",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Specification</p>",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Specs table.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Specification Section",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
